<!DOCTYPE html>
<html>
    <head>
        <title>
            Code4Lib 2018 - Preconference: Transforming MARC to RDF Applications
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <!-- UIkit CSS -->
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.39/css/uikit.min.css" />

         <!-- UIkit JS -->
         <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.39/js/uikit.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.39/js/uikit-icons.min.js"></script><link rel="stylesheet" href="css/uikit.min.css" />
    </head>
    <body class="uk-container">
    {% block main %}{% endblock %}
    </body>
</html>

