<!DOCTYPE html>
<html>
    <head>
        <title>
            Code4Lib 2018 - Preconference: Transforming MARC to RDF Applications
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <!-- UIkit CSS -->
         <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.min.css') }}" />

         <!-- UIkit JS -->
         <script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
         <script src="{{ url_for('static', filename='js/uikit-icons.min.js') }}"></script>
        {% block more_css %}{% endblock %}
    </head>
    <body class="uk-container">
    {% block main %}{% endblock %}
    </body>
</html>

