{% extends 'base.html' %}

{% block main %}
<img src="{{ url_for('static', filename='img/bibcat-logo.png') }}">
<img src="{{ url_for('static', filename='img/kl-logo.png') }}">
<hr class="slide-nav">
<h1>Transforming MARC and Metadata into RDF-based Applications</h1>
<h2>Tuesday,Tuesday, February 13, 2018 - 9:30 to 12:30</h2>
<p>Jeremy Nelson  and Mike Stabile</p>

<h2>Agenda</h2>
<div class="uk-row">
    <div class="uk-col">
    <h4 class="text-danger">Tuesday, February 13, 2018</h4>
    <p>9:30 -  Welcome and Overview</p>
    <p>10:00 -  Computer setup</p>
    <p>10:20 -  Break</p>
    <p>10:30 -  BIBCAT Introduction</p>
    <p>11:20 -  Break</p>
    <p>11:30 -  Next Steps, Questions and Comments</p>
    <p>12:30 -  End Session</p>

    </div>
    <div class="uk-col">
    <h4>Resources</h4>
    <ul>
        <li><a href="https://bibcat.org/">BIBCAT Home</a></li>
        <li><a href="https://bibcat.org/introduction">Introduction to BIBCAT</a></li>
        <li><a href="http://knowledgelinks.io/">KnowledgeLinks.io</a></li>
    
    </ul>

    </div>
</div>
{% endblock %}
